<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-icon" href="/">
      <div class="navbar-brand">
        <div class="brand-icon">
            <img src="icons/univek.svg" alt="UniVek" class="brand-icon-img" width="30">

        </div>
        <span class="brand-text">UniVek</span>
      </div>
    </a>

    <ul class="navbar-menu">
      <li class="navbar-item">
        <a href="/dashboard" class="navbar-link">Dashboard</a>
      </li>
      <li class="navbar-item">
        <a href="/calendario" class="navbar-link">Calendário</a>
      </li>
      <li class="navbar-item">
        <a href="/disciplinas" class="navbar-link">Disciplinas</a>
      </li>
    </ul>
  </div>
</nav>
