@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$red-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --color-primary: #e63946;
  --color-secondary: #f1faee;
  --color-red-light: #fcbfbc;
  --color-red-dark: #a4161a;
  --color-bg: #f9fafb;
  --color-text: #212529;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }
